.sidebar {
    --cui-sidebar-width: 15rem;
    --cui-sidebar-bg:#141414;
    // box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 4px 4px;
}
.sidebar-toggler {
   background-color: #535353 !important ; 
}
.sidebar:not(.sidebar-end) ~ * {
    --cui-sidebar-occupy-start: 15rem ;
}
.sidebar-nav .nav-icon:first-child {
    color: #d2d1d1 !important;
}
.sidebar-nav .nav-icon:hover{
    color: white !important;
}
.sidebar-brand {
    background-color: transparent;
}
.sidebar-nav .nav-link{
    color: rgb(255 255 255 / 66%);
    /* font-weight: 600; */
    border-radius: 10px;
    margin: 5px 5px;
}

.sidebar-nav .nav-link.active {
    color: #ffffff;
    background: #c8c8c842;
    /* width: 80%; */
    /* text-align: center;
    /* width: 80%; */
    /* text-align: center; */
  
    
}
.sidebar-nav .nav-link:hover {
    color: #ffffff;
    text-decoration: none;
    background: rgb(200 200 200 / 26%);
    // border-radius: 10px;
    /* width: 80%; */
    /* text-align: center; */
    // margin: 1px 5px;
}
.footer {
 --cui-footer-bg: var(--cui-sidebar-nav-link-active-bg);
}
.sidebar-nav .nav-group.show {
    background: #48484891;
}
.sidebar-brand {
    // background: #003366;
}
// .sidebar-nav .nav-icon {
//     color: black;
// }
.sidebar-nav .nav-group.show .nav-group-toggle  {
    color: #ffffff !important;
    // background: #485ae712;
    margin: 0px;
    border-radius: 0px;
}
.sidebar-nav .nav-icon:hover{
    color: #056bda;
}
.sidebar-toggler  {
    background-color: rgb(26 38 159 / 5%);
}
.sidebar-toggler:hover   {
    background-color: rgb(26 38 159 / 5%);
}

.bg-light {
    --cui-bg-opacity: 1;
    background-color:#f8f9fa !important;
    // background-color: #ffffff !important;
}
.header {
    --cui-subheader-min-height: 1rem;
    --cui-header-padding-y: 1rem;
    margin-bottom: 31px !important;
}
.header-divider {
   margin: 0;
   border: none;
   
}
.sidebar-nav::-webkit-scrollbar {
    width: 0.5em !important;
  }

.widget-div1, .widget-div2, .widget-div3, .widget-div4{

    color: #ffffff !important;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.03);
    border: none !important;
    padding: 6px;
  
}
.widget-div1{
    background-color: #2196f3 !important;
    // border: 1px solid #2196f3 !important;
}

.widget-div2{
    background-color:  #ea6eae !important;
    // border: 1px solid #f44336 !important;
}
.widget-div3{
    background-color:  #3acd76  !important;
    // border: 1px solid #ffc107  !important;
}
.widget-div4{
    background-color:  #9c57dd !important;
    // border: 1px solid #4caf50  !important;
}
.widget-p{
    font-size: 20px;
    margin-bottom: 8px;
}
.count-num{
    font-size: 18px;
    margin: 0;
}
.text-high-emphasis-inverse {
    color: rgb(0 51 102) !important;
}

.widgettt{
    background-color: white;
    height: 304px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
    border-radius: 5px ;
    padding: 16px;
 
}
.graph{
    width: 100%;
}
.widgettt .top-div p{
    color: #003366ad;
    font-weight: 500;
}
.widgettt .upper-div{
    height:60px;
    width: 100%;
    color:rgba(0, 0, 0, 0.6509803922) ;
    // background-color: #00000029;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon1 {
    color: #008cfc; 
  }
  .icon2 {
    color: #ff118d; 
  }
  .icon3 {
    color: #00ff1f; 
  }
  .icon4 {
    color: #8400ff; 
  }
  .b-div{
    color: #000000a6;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  height: 70px;
  border-bottom: 1px solid black;
  align-items: center;
}

.side-inner-div1, .side-inner-div2, .side-inner-div3, .side-inner-div4, .side-inner-div5{
    height:50px; 
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
}
.side-inner-div1{
    background-color: #b5b7b980;
}

.side-inner-div2{
    background-color: #24ba4080;;
}

.side-inner-div3{
    background-color: #fddc1d6e;;
}
.side-inner-div4{
    background-color: #f862157a;;
}
.side-inner-div5{
    background-color: #2badf759;;
}